.item {
    padding: 20px;
    border: 2px solid #e3e3e3;
    margin: 20px;
    border-radius: 8px;

    span {
        display: block;
        margin-bottom: 20px;
    }

    &-wrap {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-bottom: 10px;
    }
}